body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 10px 0px;
  color: #8a6d2f;
  font-size: 44px;
  line-height: 54px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}

h2 {
  margin: 0px 0px 27px;
  color: #ff0000;
  font-size: 38px;
  line-height: 36px;
  font-weight: 300;
  text-shadow: none;
}

h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-right: 60px;
  padding-left: 60px;
  color: rgba(0, 0, 0, .4);
  font-size: 23px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}

.button {
  display: block;
  width: 30%;
  height: 54px;
  margin-left: -1px;
  padding: 4px 29px;
  float: none;
  clear: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #cd0009;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

button {
  width: 30%;
  height: 54px;
  padding: 4px 29px;
  background-color: #cd0009;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background-color: black;
}

button:active {
  background-color: #18c7aa;
}

canvas {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.button:hover {
  background-color: #18c7aa;
}

.social-widget {
  width: 100px;
  float: left;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-widget-wrapper {
  display: block;
  width: 223px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
}

.container {
  color: #fff;
}

.social-section {
  padding-top: 58px;
  padding-bottom: 58px;
  background-color: #f3f3f3;
  text-align: center;
}

.share-btn {
  display: inline-block;
  width: 61px;
  margin-right: 14px;
  margin-left: 14px;
}

.share-wrapper {
  margin-top: 32px;
}

.social-btn {
  margin-left: 17px;
  padding-right: 2px;
  padding-left: 2px;
  opacity: 0.15;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.social-btn:hover {
  opacity: 0.7;
}

.social-btn.footer {
  margin-right: 9px;
  margin-left: 9px;
}

.navbar {
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #fff;
}

.right-nav {
  padding-top: 2px;
  text-align: right;
}

.brand {
  display: inline-block;
  color: #2e2e2e;
  font-size: 32px;
  line-height: 22px;
  font-weight: 500;
}

.section {
  padding-top: 81px;
  padding-bottom: 81px;
  background-color: #fff;
  text-align: center;
}

.section.hero {
  padding-top: 92px;
  padding-bottom: 92px;
  background-color: #cd0009;
  text-align: center;
}

.section.grey {
  background-color: #fcfcfc;
}

.black-heading {
  padding-top: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 400;
  text-shadow: none;
}

.image-crop {
  overflow: hidden;
  height: 368px;
  margin-top: 39px;
  margin-bottom: -81px;
}

.phone-image {
  width: 381px;
}

.infinite {
  margin-top: 52px;
  float: none;
  opacity: 0.15;
}

.tag {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-weight: 400;
}

.tag.red {
  color: #cd0009;
  font-size: 12px;
  font-weight: 800;
}

.heading {
  position: static;
  overflow: visible;
  width: 100%;
  float: none;
  clear: none;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 2em;
}

.paragraph-2 {
  padding-top: 21px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
}

.paragraph-3 {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 300;
}

.container-2 {
  font-weight: 300;
}

.image {
  width: 150px;
  max-width: 100%;
  padding-top: 0px;
}

.tmmp {
  width: 25%;
  min-width: 50px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.cov-logo {
  max-width: 75px;
}

.mmt-logo {
  width: 120px;
}

.button-3 {
  margin-top: 44px;
  margin-left: 17px;
  padding: 14px 20px;
  float: none;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.rsvp {
  margin-top: 44px;
  margin-left: 0px;
  padding: 14px 20px;
  float: none;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.dogedo {
  position: fixed;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  width: 10%;
  float: right;
}

.text-block {
  padding-top: 33px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

.container-3 {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 600;
}

.paragraph-4 {
  margin-bottom: 25px;
  padding-bottom: 0px;
  color: #000;
  font-weight: 400;
}

.p7 {
  color: #000;
  font-weight: 400;
  font-size: 3em;
}

.covenant {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 2em;
  text-align: center;
}

.covenant.hero {
  padding-top: 92px;
  padding-bottom: 92px;
  background-color: #cd0009;
  text-align: center;
}

.covenant.grey {
  background-color: #f2f2f2;
}

.eth {
  padding-top: 20px;
  font-size: 20px;
  text-decoration: none;
}

.qr {
  padding-top: 38px;
}

.button-4 {
  margin-top: 14px;
  background-color: #000;
}

.ether-wallet {
  position: static;
  display: block;
  overflow: visible;
  padding-top: 19px;
  padding-bottom: 5px;
  float: none;
  font-size: 20px;
  text-align: center;
}

.copy {
  margin-top: 15px;
  background-color: #cd0009;
}

.small {
  font-size: 14px;
  text-decoration: none;
}

.footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-weight: 400;
}

.footer.red {
  color: #cd0009;
  font-size: 12px;
  font-weight: 800;
}

.paragraph-5 {
  color: rgba(0, 0, 0, .57);
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: 400;
  text-align: center;
}

.link {
  display: block;
  margin-top: 25px;
  padding-top: 0px;
  color: #000;
  font-size: 0.6em;
  font-weight: 700;
}

.notice {
  padding-top: 30px;
}


.kid_left {
  width: 35%;
}

.kid_right {
  width: 35%;
}


@media (max-width: 991px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 30%;
  }
  .field {
    width: 70%;
  }
  .social-btn {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .social-btn:hover {
    opacity: 0.8;
  }
  .dogedo {
    min-width: 120px;
  }
}

@media (max-width: 767px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 40%;
  }
  .field {
    width: 60%;
  }
  .container {
    padding-right: 33px;
    padding-left: 33px;
  }
  .social-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .section.hero {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .covenant.hero {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 46px;
    text-shadow: none;
  }
  h2 {
    font-size: 30px;
    line-height: 31px;
    text-shadow: none;
  }
  p {
    padding-right: 18px;
    padding-left: 18px;
    text-shadow: none;
  }
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
  }
  .social-widget {
    width: 96px;
  }
  .social-widget-wrapper {
    display: block;
    width: 194px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .social-section {
    padding-right: 14px;
    padding-left: 14px;
  }
  .section {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  .black-heading {
    text-shadow: none;
  }
  .image-crop {
    height: 278px;
    margin-bottom: -47px;
  }
  .phone-image {
    width: 80%;
  }
  .paragraph-2 {
    text-align: center;
  }
  .tmmp {
    min-width: 150px;
  }
  .dogedo {
    min-width: 80px;
  }
  .covenant {
    padding-top: 47px;
    padding-bottom: 47px;
  }
}
