<html>

<head>
  <meta charset="utf-8">
  <title>Merry Merkle — A decentralized giving project raising funds through Ethereum.</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="twitter:card" content="Merry Merkle Cryptocurrency Charity Drive" />
  <meta property="og:url" content="https://merrymerkle.com" />
  <meta property="og:title" content="Merry Merkle" />
  <meta property="og:description" content="This holiday season, we’re challenging the Toronto and global crypto community's generosity in donating what they can to a Toronto homeless youth shelter (Covenant House) via the “X-Mas Merkle Tree” structure!"
  />
  <meta property="og:image" content="images/merrymerkle_MMT.png" />

  <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/boot.css" rel="stylesheet" type="text/css">
  <link href="css/style.css?3" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({ google: { families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic", "Roboto:300,regular", "Roboto Condensed:regular"] } });</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
</head>

<body>
  <div class="donation-banner"></div>
  <div class="navbar">
    <div class="w-container">
      <div class="w-row">
        <div class="left-nav w-col w-col-6 w-col-small-6 w-col-tiny-6">
          <a href="index.html" class="w-inline-block">
            <img src="images/merrymerkle_MMT.png" srcset="images/merrymerkle_MMT-p-500.png 500w, images/merrymerkle_MMT.png 750w" sizes="(max-width: 479px) 43vw, 120px"
              class="mmt-logo">
          </a>
        </div>
        <div class="right-nav w-col w-col-6 w-col-small-6 w-col-tiny-6">
          <a href="https://www.covenanthousetoronto.ca" target="_blank" class="w-inline-block">
            <img src="images/Covenant_House_4c_v.png" srcset="images/Covenant_House_4c_v-p-500.png 500w, images/Covenant_House_4c_v.png 1082w"
              sizes="75px" class="cov-logo">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section hero mobile-banner">
    <div id="banner-hook" class="container w-container">
      <h1 class="heading" v-if="false">
        {{ donationETH }} ETH (≈ ${{ donationCAD }} CAD) raised so far!
        <a href="#donate" class="button-5 w-button">Donate</a>
      </h1>
      <h1 class="heading" v-else>
        Note: Our Leaderboard is currently undergoing maintenance.<br />Hang tight or <a target="_blank" href="https://etherscan.io/address/0x78f47F9E7088F8b55145248C8D3Efd9451acEc47">check the tally here</a>.
      </h1>
    </div>
  </div>
  <div class="tree-and-board">
    <div id="tree-hook" class="w-hidden-tiny w-hidden-small w-hidden-medium">
    </div>
    <div id="leaderboard-hook">
      <ul class="container messages" v-if="messages.length > 0" v-for="msg of messages">
        <li>{{ msg }}</li>
      </ul>
      <div class="table-container">
        <table id="leaderboard">
          <tr>
            <th>Ornament</th>
            <th>Amount</th>
            <th>Donor</th>
          </tr>
          <tr v-for="(leader, index) in leaderboard" v-bind:class="{ hover: hovered === index }">
            <td>
              {{ index + 1 }}
              <img class="img-circle" v-if="index === 0" src="images/star-bg.gif">
              <img class="img-circle" v-if="index <= 4 && index !== 0" src="images/silver_orn.png">
              <img class="img-circle" v-if="index > 4 && index <= 9" src="images/red_orn.png">
            </td>
            <td>{{ leader.displayETH }} ETH</td>
            <td>
              <strong>{{ leader.text }}</strong>
            </td>
          </tr>
        </table>
      </div>
      <form v-if="browserInstalled && !addrSigned" v-on:submit.prevent="onNameSubmit" class="name-submit-form">
        <input v-model="name" type="text" placeholder="Register a name with your address" name="name">
        <button class="w-button btn-submit">
          Sign with MetaMask
        </button>
      </form>
      <form v-if="browserInstalled && addrSigned" v-on:submit.prevent="onDonate" class="name-submit-form">
        <input v-model="amount" type="text" placeholder="ETH amount" name="amount">
        <button class="w-button btn-submit donate-submit">
          Donate ETH
        </button>
      </form>
    </div>
  </div>

  <div id="Intro" class="section hero">
    <div class="container w-container">
      <h1 class="heading">A Christmas tree lit up by crypto donations from around the world, powered by Ethereum.</h1>
      <div id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2eyWzcwXONE" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
      <p class="paragraph-2">Merry Merkle tree is a decentralized giving project enabled by the Ethereum Blockchain. This holiday season, we’re
        challenging the Toronto and global crypto community&#x27;s generosity in donating what they can to a Toronto homeless
        youth shelter (Covenant House) via the “Merry Merkle Tree” structure!</p>
      <a href="#donate" class="button-3 w-button">Donate</a>
      <a href="#covenant" class="button-3 w-button">Learn More</a>
      <a class="button-3 w-button" href="https://t.me/joinchat/FZf3yBCsyBYn7pFH-MvT_A" target="_blank">Telegram</a>
      <a class="button-3 w-button" href="http://eepurl.com/dePYrH" target="_blank">Newsletter</a>
      <img src="images/merkle_Doge.png" srcset="images/merkle_Doge-p-500.png 500w, images/merkle_Doge.png 750w" sizes="(max-width: 479px) 80px, (max-width: 991px) 120px, 10vw"
      class="dogedo">
    </div>
  </div>

  <div id="donate">
    <h2 class="black-heading">Donate</h2>
    <p class="paragraph-4">Donate to the Ether Wallet below, or
      <a href="https://www.covenanthousedonations.ca/sslpage.aspx?pid=1622&source=DIGGWTP-1712MERKLE" target="_blank" class="inline-link">Donate via Credit Card</a>
    </p>
       <div class="notice">The wallet only accepts Ether or ERC20 Tokens. Donations made via the Ethereum wallet will not be issued a charitable
      tax receipt.&nbsp; Donations made by credit card will receive a charitable tax receipt from Covenant House Toronto.&nbsp;
      Only Ether donations will be considered for the leaderboard and tree.</div>
      <div>
      <div class="eth">
        <p style="word-wrap:break-word; white-space: normal;" id="p1" class="paragraph-3">0x78f47F9E7088F8b55145248C8D3Efd9451acEc47</p>
      </div>
      <button onclick="copyToClipboard('#p1')">Copy</button>
    </div>
    <img src="images/qr_fundraiser.png" width="314" class="qr">
  </div>

  <div class="covenant">
    <div id="covenant" class="container-3 w-container">
      <h2 class="black-heading">Purpose</h2>
      <p class="paragraph-4">Merry Merkle Initiative is hoping to raise
        <strong>$250,000</strong> in support of programs at Covenant House Toronto. With fundraising ending on <strong>Jan 10th, 2018!</strong>
        <br>
        <br>That amount will provide a month of meals for all
        <strong>96 kids</strong> living in their Crisis Shelter.  Every donation will illuminate part of the tree bringing hope and
        light to the kids during this holiday season.</p>
      <div>
        <img class="kid-left" sizes="(max-width: 767px) 35vw, (max-width: 991px) 254.796875px, 329px" src="images/left.jpg" srcset="images/left.jpg 500w, images/left.jpg 750w">
        <img class="kid-right" sizes="(max-width: 767px) 35vw, (max-width: 991px) 254.796875px, 329px" src="images/right.jpg" srcset="images/right.jpg 500w, images/right.jpg 750w">
      </div>
      <h2 class="black-heading">Covenant House</h2>
      <p class="paragraph-5">As Canada’s largest agency serving at-risk, homeless and trafficked youth, Covenant House Toronto provides the widest
        range of services and support to as many as 250 youth a day. More than a place to stay, we provide 24/7 crisis shelter
        and transitional housing on-site and in the community, along with comprehensive services including education, counselling,
        health care, employment assistance, job training and aftercare.
        <br>
        <br>To do all this, we rely on donors for more than 80 percent of our $27-million annual operating budget. Our doors
        are open to youth 16 to 24 regardless of race, religion, sexual orientation, gender identity or the circumstances
        that have brought them to our doors.
        <br>
        <br>Since opening our doors in 1982, Covenant House has served almost 95,000 young people.</p>
      <a href="https://www.covenanthousetoronto.ca" target="_blank" class="link">Learn more about the Covenant House.</a>
    </div>
  </div>
  <div class="social-section">
    <div class="w-container">
      <p class="footer red">MADE WITH LOVE IN TORONTO, CANADA AND AROUND THE WORLD</p>
      <p class="tag">A DECENTRALIZED GIVING PROJECT.</p>
      <div class="small">Special thanks to all the people in the community that came together to make this project come to life in only 1 week.</div>
      <div class="share-wrapper">
        <div class="share-btn w-widget w-widget-twitter">
          <iframe src="https://platform.twitter.com/widgets/tweet_button.html#url=http%3A%2F%2Fwww.merrymerkle.com&amp;counturl=www.merrymerkle.com&amp;text=%23merrymerkle%20&amp;count=none&amp;size=m&amp;dnt=true"
            scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 62px; height: 21px;"></iframe>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/5.0.0/bignumber.min.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://unpkg.com/d3-canvas-transition@0.3.7/build/d3-canvas-transition.js"></script>
  <script src="https://unpkg.com/d3-quant@0.4.2/build/d3-quant.js"></script>
  <script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src="js/web3-light.min.js" type="text/javascript"></script>
  <script src="js/boot.js" type="text/javascript"></script>
  <script src="js/copy.js" type="text/javascript"></script>
  <script src="js/main.js?2" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script>
    switch (window.location.hostname) {
      case "localhost":
      case "127.0.0.1":
        break;
      default:
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-111330723-1', 'auto');
        ga('send', 'pageview');
    }
  </script>

</body>

</html>
