<!doctype html>
<html lang="en">
    <head>
        <title>Scaling NOW Barcelona</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="css/style.css?2" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/leaderboard.css">
    </head>
    <body>
            <section id="banner-hook" class="row d-flex">
                <h1 class="heading">
          {{ donationETH }} ETH (≈ ${{ donationCAD }} CAD) raised so far! <a href="#donate" class="btn btn-primary">Donate</a>  </h1>
            </section>
            <section class="tree-and-board">
                <div id="tree-hook" class="">
                </div>
                <div id="leaderboard-hook">
                    <ul class="container messages" v-if="messages.length > 0" v-for="msg of messages">
                        <li>{{ msg }}</li>
                    </ul>
                    <div class="table-container">
                        <table id="leaderboard">
                            <tr>
                                <th>Ornament</th>
                                <th>Amount</th>
                                <th>Donor</th>
                            </tr>
                            <tr v-for="(leader, index) in leaderboard" v-bind:class="{ hover: hovered === index }">
                                <td>
                                    {{ index + 1 }}
                                    <img class="img-circle" v-if="index === 0" src="images/star-bg.gif">
                                    <img class="img-circle" v-if="index <= 4 && index !== 0" src="images/silver_orn.png">
                                    <img class="img-circle" v-if="index > 4 && index <= 9" src="images/red_orn.png">
                                </td>
                                <td>{{ leader.displayETH }} ETH</td>
                                <td>  <strong>{{ leader.text }}</strong>  </td>
                            </tr>
                        </table>
                    </div>
                    <form v-if="browserInstalled && !addrSigned" v-on:submit.prevent="onNameSubmit" class="name-submit-form">
                        <input v-model="name" type="text" placeholder="Register a name with your address" name="name">
                        <button class="w-button btn-submit">
                            Sign with MetaMask
</button>
                    </form>
                    <form v-if="browserInstalled && addrSigned" v-on:submit.prevent="onDonate" class="name-submit-form">
                        <input v-model="amount" type="text" placeholder="ETH amount" name="amount">
                        <button class="w-button donate-submit">
                            Donate ETH
</button>
                    </form>
                </div>
            </section>
            <div id="donate">
                -

                <h2 class="black-heading">Donate</h2>
                -

                <p class="paragraph-4">Donate to the Ether Wallet below, or
-      <a href="https://www.covenanthousedonations.ca/sslpage.aspx?pid=1622&source=DIGGWTP-1712MERKLE" target="_blank" class="inline-link">Donate via Credit Card</a>
-    </p>
                -

                <div class="notice">The wallet only accepts Ether or ERC20 Tokens. Donations made via the Ethereum wallet will not be issued a charitable
                    -      tax receipt.&nbsp; Donations made by credit card will receive a charitable tax receipt from Covenant House Toronto.&nbsp;
                    -      Only Ether donations will be considered for the leaderboard and tree.
</div>
                -

                <div>
                    -

                    <div class="eth">
                        -

                        <p style="word-wrap:break-word; white-space: normal;" id="p1" class="paragraph-3">0x78f47F9E7088F8b55145248C8D3Efd9451acEc47</p>
                        -
                    </div>
                    -

                    <button onclick="copyToClipboard('#p1')">Copy</button>
                    -
                </div>
                -

                <img src="images/qr_fundraiser.png" width="314" class="qr">
                -
            </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/5.0.0/bignumber.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://unpkg.com/d3-canvas-transition@0.3.7/build/d3-canvas-transition.js"></script>
        <script src="https://unpkg.com/d3-quant@0.4.2/build/d3-quant.js"></script>
        <script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <script src="js/web3-light.min.js" type="text/javascript"></script>
        <script src="js/copy.js" type="text/javascript"></script>
        <script src="js/main.js" type="text/javascript"></script>
        <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
    </body>
</html>
